<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="QL_CHUNGCUEntities" connectionString="metadata=res://*/QL_CHUNGCU.csdl|res://*/QL_CHUNGCU.ssdl|res://*/QL_CHUNGCU.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-2A5SA44R\SQLEXPRESS;initial catalog=QL_CHUNGCU;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>